.card {
  float: left;
  border: solid 1px black;
  /*width: 100px;*/
  border-radius: 5px;
  /*height: 140px;*/
  margin-right: 20px;
}

.covered img{
  /*background-image: url('../img/card-back.png');*/
  display: none;
}

.covered{
  width: 120px;
  height: 167px;
  background: #000;
}

.hand {
  overflow: auto;
}
